page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }
.float0{
	float:left;
  }
  .item-detail {
    width:100%;
    background: white;
    position: absolute;
  }
  .detail-box{
    margin: auto;
	padding:30px 0;
	background:#fff;
	padding:15px;
  }
  .detail-box h2{
   color:#980207;
   font-size:25px;
  }
  .detail-box h3{
   color:#666;
   font-size:16px;
  }
  .copy-r{
   text-align:center;
   font-size:12px;
   color:#980207;
  }
  .form-horizontal{
   border-right:1px solid #ccc;
   padding-right: 25px;
  }
  .input-group ul{
   padding-left:0;  
  }
  .s-result-box{
   border:1px solid #ccc;
   padding:15px 15px;
  }
  .meta-search li{
   list-style:none; 
   margin-bottom:10px;
   }
  .item-range ion-range ion-label{
   color:#000;
  }
}
