page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width:100%;
    background: white;
    position: absolute;
  }
  .detail-box{
    margin: auto;
  }
  .detail-box h2{
   text-align:center;
   color:#980207;
  }
}
