page-item-detail {
  .result-container h4{
	margin: 0;
  }
  .result-container h4 a{
	color:#333;
  }
   .result-container h4 a:hover{
	color:#666;
	text-decoration:none;
  }
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }
.float0{
	float:left;
  }
  .item-detail {
    width:100%;
    background: white;
    position: absolute;
  }
  .detail-box{
    padding: 30px 0 20px 0;
  }
  .detail-box h2{
   color:#980207;
   font-size:25px;
  }
  .detail-box h3{
   color:#666;
   font-size:16px;
  }
  .form-horizontal{
    padding: 10px 30px 10px 30px;
  }
  .control-label{
    color: #666;
  }
  .input-group ul{
   padding-left:0;  
  }
  .meta-search{
    float: left;
    width: 100%;
    margin: 2px 0 0px 0;
	padding: 0;
  }
  .meta-search li{
   list-style:none; 
   margin-bottom:10px;
   padding:0;
   }
   .searchbar-md {
    background: inherit;
    padding: 8px;
    margin: 25px 0 0 0;
}
  .item-range ion-range ion-label{
   color:#000;
  }
.result-filter{
    background: #fff;
    padding: 0;
    margin-right: 15px;
    border: solid 1px #b1b1b1;
    box-shadow: 0px 0px 2px 0 #ccc;
}
.padding0 {
    padding:0;
}
.result-container {
    background: #fff;
    padding: 15px 0;
    border: solid 1px #b1b1b1;
    box-shadow: 0px 0px 2px 0 #ccc;
    margin-bottom: 15px;
    float: left;
}
h3{
   padding: 0px;
   position:relative;
   margin-bottom:25px;
}
h3::before {
    position: absolute;
    content: "";
    width: 5%;
    height: 3px;
    border-radius: 5px;
    background: #488AFF;
    bottom: -8px;
}
.price-range {
    padding: 0 15px;
}
.price-range h4 {
    margin: 0;
}
.price-range .item-md.item-range {
    padding: 0;
}
.price-range .item-range ion-range {
    padding: 0;
}
.item-md.item-block .item-inner {
    border-bottom: 0;
}
col-md-offset-1{
   padding:0;
}
.hotel-address {
    float: left;
    width: 100%;
    margin-bottom: 8px;
}
.hotel-address a {
    color:#333;
}
.hotel-address a:hover {
    color:#666;
	text-decoration:none;
}
.review-count a{
    color:#333;
}
.review-count a:hover{
    color:#333; 
	text-decoration:none;
}
.custom-margin {
    margin-bottom:8px;
}
.result-container p {
    margin-bottom: 2px;
}

ul.review-btn-group {
    padding: 0;
    list-style-type: none;
	margin-top: 8px;
}
ul.review-btn-group li {
    display: inline-block;
    margin: 0px;
}
.review-btn-group h6 {
    font-size: 12px;
    margin: 6px 0;
    color: #444;
}
.review-btn-group .btn {
    padding: 3px 12px;
    font-size: 13px;
    line-height: 15px;
	outline:none;
}

.review-btn-group .btn:focus {
	outline:none;
}
.average-btn, .average-btn:hover {
	background:#fdeb74 !important;
	color:#000;
}
.good-btn, .good-btn:hover {
	background:#ffa500 !important;
    color:#000;

}
.V-good-btn, .V-good-btn:hover {
	background:#80C31C !important;
	padding: 3px 17px !important;
	color:#000;
}
.excellent-btn, .excellent-btn:hover {
	background:#20962f !important;
	color:#000;
}



@media (max-width:767px) {
.result-filter {
    margin-right: 0 !important;
    margin-bottom: 15px;
}
.mobile-padding {
    padding: 15px;
}
h3::before {
    width: 20%;
}
}

}
.avg-rating{
    max-width: 95px;
    float: left;
    margin-bottom: 6px;
}