<ion-header>	
  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>
  <ion-toolbar class="sticky-btn" [hidden] = "!scrolledToTop">
		<span (click)="showSearchFilter()">Search Restaurants</span> 
  </ion-toolbar>
</ion-header>
<ion-content (ionScroll)="scrollHandler($event)" id="content-holder">
<main-header></main-header>
  <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.profilePic + ')'">
  </div>  
    <div class="filter-btn-group"  [hidden] = "scrolledToTop" id="search-filter">
	  <button ion-button (click)="showSearchFilter()">Search Restaurants</button> 
	</div>
  <div class="container">  
 
    <div class="col-sm-12 detail-box">
      <h3>
        <span class="search-heading" >Search result : </span>
        <span class="search-heading-result" [hidden]="!searchDone">
          <ion-badge>({{resultItems.length}})</ion-badge>
          restaurant(s) found
        </span>
      </h3>
      <div *ngIf="!searchDone" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>
      <div [hidden]="!searchDone">
        <div class="col-sm-3 padding0 result-filter-web">
			<search-filter (emitToParent) = "triggerWebSearch($event)"></search-filter>
        </div>
      </div>
      <div class="col-sm-9 padding0">
		<div [hidden] ="!searchDone">
			<div class="result-box" [hidden] = "resultItems.length > 0"></div>
		</div>
        
        <div class="result-container" *ngFor="let item of resultItems; let i = index;">
          <div class="col-sm-3">
            <img class="img-responsive result-thumb" src="assets/img/restaurant/{{i+1}}.jpg" alt=""> 
          </div>
          <div class="col-sm-3 padding0 mobile-padding">
            <h4><a href="#">{{item.name}}</a></h4>
            <ul class="meta-search">
              <li>
                <div class="rating avg-rating">
                  <img class="img-responsive" src="assets/img/rating/{{item.tripRatingStar}}" alt="">
                </div>
              </li>
            </ul>
            <div class="hotel-address"><a href="#">New York, 0.4 km to Empire State Building (City centre)</a></div>
            <div class="review-count"><a href="#">80/100(655 review)</a></div>
          </div>
          <div  class="col-sm-6">
            <!-- <h3><font color="red"><a href="#" title="" target="_blank"></a></font></h3> -->
            <div class="col-sm-4 padding0 col-md-offset-1">
              <p>Yelp</p>
              <div class="custom-margin">	<img src="assets/img/rating/0.5.png" height="23" width="90" title="" /></div>
            </div>
            <div class="col-sm-4 padding0 col-md-offset-1">
              <p>Google Reviews</p>
              <div class="custom-margin">	<img src="assets/img/rating/0.5.png" height="23" width="90" title="" /></div>
            </div>
            <div class="col-sm-4 padding0 col-md-offset-1">
              <p>Trip Advisor</p>
              <div class="custom-margin">	
                <img class="img-responsive" src="assets/img/rating/{{item.tripRatingStar}}" alt="" height="23" width="90">  
              </div>
            </div>
            <div class="col-sm-4 padding0 col-md-offset-1">
              <p>Four Square</p>
              <div class="custom-margin"><img src="assets/img/rating/0.5.png" height="23" width="90" title="" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      <div class="copy-r">Copyright 2017 Ratings & Reviews | All rights reserved.</div>
    </ion-title>
  </ion-toolbar>
</ion-footer>