page-login {
   .bg-container{ 
   background:url('../img/main-bg.jpg');
   background-repeat:repeat;
   }
   .login-bx{
      margin:auto;
	  position:relative;
	  top:20%;
   }
   .button-md{
    background:#780000;
   }
   .copy-r{
   text-align:center;
   font-size:12px;
   color:#980207;
  }
}
