page-login {
   .bg-container{ 
    padding: 0 15px;
   }
   .login-bx{
      margin:auto;
	  position:relative;
	  margin-top:70px;
	  background: #fff;
      border: 1px solid #ccc;
      padding: 70px;
	      box-shadow: 0px 0px 7px 0px #ccc;
   }
   .button-md{
    background-color: #464646;
    box-shadow: 0 0 5px 0 #dedede;
   }

  .list-md {
    margin: 0;
}
.user-text-field .text-input-md {
    padding: 8px 10px;
	color: #464646;
	margin-bottom: 0;
	font-size: 14px;
}
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    box-shadow: inherit;
    border-bottom: 1px solid #dedede;
}
.item-md.item-input.input-has-focus .item-inner{
    border-bottom-color:#ccc;
	box-shadow:inherit;
}
.item-input .lable-login {
    color: #000;
    font-size: 13px;
    text-align: left;
	    margin-bottom: 0;
}
@media (max-width:767px) {
.login-bx {
    margin-top: 180px;
    padding: 20px;
}
}
}
