// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.scroll-content {
  background:#ebeced;
  overflow-y: initial;
}
.header-md .toolbar-background.toolbar-background-md {
    background: #488aff;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
}
.toolbar-title-md {
    color: #ffffff;
}
.bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
    color: #efefef;
}
.toolbar-background-md {
    border-color: #000000;
    background: #4a4a4a;
}
.copy-r {
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}

[hidden] {
   display: none;
}