// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.scroll-content {
  background:#ebeced;
  overflow-y: initial;
}
.header-md .toolbar-background.toolbar-background-md {
    background: #00b4e7;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
}
.toolbar-title-md {
    color: #ffffff;
}
.bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
    color: #efefef;
}
.toolbar-background-md {
    border-color: #000000;
    background: #4a4a4a;
}
.copy-r {
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}
.mobile-header {
    display:none;
}
.splash-info {
    position: fixed;
    z-index: 2;
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    -webkit-transform: translateZ(0);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 3px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    opacity: 1;
  }
 a.logo img {
  max-width:220px;
  float:left;
  margin-left: -7px;
}
a.logo:hover {
  opacity:1;
}
.web-nav{
    padding: 10px 0 4px 0;
}
.web-nav ul {
    list-style: none;
    margin-top: 7px;
    padding: 0;
}
.web-nav ul li{
   display: inline;
   padding:10px 10px;
}
.web-nav ul li a{
   padding:10px 10px;
   font-size:15px;
   color:#333;
   text-decoration:none;
}
.my-account{
	padding: 10px 15px;
	font-size: 15px;
	color: #000;
	margin-top: 7px;
}
.my-account .fa-user-circle-o{
    color: #2196f3;
}
.logo-box{
   display:none;
}
.padding0 {
  padding:0;
}
ion-modal ion-backdrop {
    visibility: visible;
    z-index: -1;
}
.my-account a{ color:#333;}
.my-account a:hover{ text-decoration:none;}

@media (max-width:767px) {
.mobile-header{
    display:block;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.web-header {
    display:none;
}
}

[hidden] {
   display: none;
}