<ion-header>
  <ion-navbar>
    <ion-title>
	{{ 'SEARCH_TITLE' | translate }}
	</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<div class="container search-position">
   <h2 class="deal-text">Find your ideal hotel for the best price</h2>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ '' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img [src]="item.profilePic" />
      </ion-avatar>
      <h2>New York City</h2>
      <p>Best City in New York</p>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>
  </ion-list>
<div class="col-md-12 item-box-position">
    <h3>Top Deals</h3>
   <div class="col-md-4">
	<div class="list card">
		  <div class="item item-avatar">
			<img src="assets/img/restaurant/4.jpg">
			<h4>Hotel Pennsylvania</h4>
			<p>New York, 0.4 km to Empire State Building (City centre)</p>
		  </div>

		  <div class="item item-body">
<!-- 			<img class="full-image" src="assets/img/queen-live.png">
 -->			 <p>
			  This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
			  the content is from a card-body consisting of an image and paragraph text. The footer
			  consists of tabs, icons aligned left, within the card-footer.
			  </p>
			<p>
			  <a href="#" class="subdued">1 Like</a>
			  <a href="#" class="subdued">5 Comments</a>
			</p>
		  </div>
    </div>
	</div>
	 <div class="col-md-4">
	<div class="list card">
		  <div class="item item-avatar">
			<img src="assets/img/restaurant/5.jpg">
			<h4>Row NYC</h4>
			<p>New York, 0.2 km to Times Square (City centre)</p>
		  </div>

		  <div class="item item-body">
<!-- 			<img class="full-image" src="assets/img/advance-card-tmntr.jpg">
 -->			<p>
			  This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
			  the content is from a card-body consisting of an image and paragraph text. The footer
			  consists of tabs, icons aligned left, within the card-footer.
			</p>
			<p>
			  <a href="#" class="subdued">1 Like</a>
			  <a href="#" class="subdued">5 Comments</a>
			</p>
		  </div>
    </div>
	</div>
	 <div  class="col-md-4">
	<div class="list card">
		  <div class="item item-avatar">
			<img src="assets/img/restaurant/6.jpg">
			<h4>Hotel Stanford NYC</h4>
			<p>New York, 0.1 km to Empire State Building (City centre)</p>
		  </div>
		  <div class="item item-body">
			<!-- <img class="full-image" src="assets/img/badu-live.png"> -->
			<p>
			  This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
			  the content is from a card-body consisting of an image and paragraph text. The footer
			  consists of tabs, icons aligned left, within the card-footer.
			</p>
			<p>
			  <a href="#" class="subdued">1 Like</a>
			  <a href="#" class="subdued">5 Comments</a>
			</p>
		  </div>
    </div>
	</div>
</div>
</div>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title><div class="copy-r">Copyright 2017 Rating & Review | All rights reserved.</div></ion-title>
  </ion-toolbar>
</ion-footer>
