page-search {
    .search-position{
     margin:auto;
   }
   
   h3{
   padding: 0 15px;
   }
   .deal-text{
    text-align:center;
	color:#666;
   }
   
   .toolbar-title-md {
     color: #2687ff;
}
.searchbar-input-container {
    padding: 28px 0 0 0;
}

.searchbar-md .searchbar-search-icon, .searchbar-md .searchbar-md-cancel {
    top: 38px;
}

page-search .searchbar-md .searchbar-input {
    background-color: #f2f2f2;
}

.float-box{
    float:left;
	padding:15px;
	margin:auto;
}

.item-box-position{
    margin:50px 0 0 0;
}

.item-avatar img{
    width:50%;
}
.copy-r{
   text-align:center;
   font-size:12px;
   color:#980207;
  }
}
