page-search {
    .search-position{
     margin:auto;
	 padding:30px 0;
   }
   h2{
   Color:#666;
   }
   h3{
   padding: 0 15px;
   }
   .label-md{
    text-align:left;
   }
   .deal-text{
    text-align:center;
	color: rebeccapurple;
   }

.searchbar-input-container {
    padding: 28px 0 0 0;
}

.searchbar-md .searchbar-search-icon, .searchbar-md .searchbar-md-cancel {
    top: 38px;
}

page-search .searchbar-md .searchbar-input {
    background-color: #f2f2f2;
}

.float-box{
    float:left;
	padding:15px;
	margin:auto;
}

.item-box-position{
    margin:50px 0 0 0;
}

.item-avatar img{
    width:50%;
}

.copy-r{
   text-align:center;
   font-size:12px;
   color:#980207;
  }
}
