page-search {
    .search-position{
      margin:auto;
	  position:relative;
	  top:20%;
   }
   .toolbar-title-md {
    color: #2687ff;
}
.searchbar-input-container {
    padding: 28px 0 0 0;
}
.searchbar-md .searchbar-search-icon, .searchbar-md .searchbar-md-cancel {
    top: 38px;
}
.searchbar-md .searchbar-input{
  box-shadow:none;
  border: 1px solid #780000;
}
page-search .searchbar-md .searchbar-input {
    box-shadow: none;
}
}
