<div class="mobile-header">
<ion-header>
	<ion-navbar>
    <ion-title>
	{{ 'SEARCH_TITLE' | translate }}
	</ion-title>
	</ion-navbar>
</ion-header>
</div>
<ion-content>
<main-header></main-header>
<div class="container search-position">
   <h2 class="deal-text text-js">Find your ideal restaurant for the best price</h2>
   <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
   </div>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img [src]="item.profilePic" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.about}}</p>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>
  </ion-list>
<div class="col-sm-12 item-box-position">
    <h3>Top Deals</h3>
   <div class="col-sm-4 mobile-padding">
	<div class="list card  result-box">
		  <div class="item item-avatar">
			<img src="assets/img/restaurant/21.jpg">
			</div>
			<div class="item-content">
			<h4>Hotel Pennsylvania</h4>
			<p>New York, 0.4 km to Empire State Building (City centre)</p>
		  

		  <div class="item item-body">
<!-- 			<img class="full-image" src="assets/img/queen-live.png">
 -->			 <p>
			  This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
			  the content is from a card-body consisting of an image and paragraph text. The footer
			  consists of tabs, icons aligned left, within the card-footer.
			  </p>
			<p>
			  <a href="#" class="subdued">1 Like</a>
			  <a href="#" class="subdued">5 Comments</a>
			</p>
		  </div>
		  </div>
    </div>
	</div>
	 <div class="col-sm-4 mobile-padding">
	<div class="list card  result-box">
		  <div class="item item-avatar">
			<img src="assets/img/restaurant/24.jpg">
			</div>
			<div class="item-content">
			<h4>Row NYC</h4>
			<p>New York, 0.2 km to Times Square Building (City centre)</p>
		  

		  <div class="item item-body">
<!-- 			<img class="full-image" src="assets/img/advance-card-tmntr.jpg">
 -->			<p>
			  This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
			  the content is from a card-body consisting of an image and paragraph text. The footer
			  consists of tabs, icons aligned left, within the card-footer.
			</p>
			<p>
			  <a href="#" class="subdued">1 Like</a>
			  <a href="#" class="subdued">5 Comments</a>
			</p>
		  </div>
		  </div>
    </div>
	</div>
	 <div  class="col-sm-4 mobile-padding">
	<div class="list card  result-box">
		  <div class="item item-avatar">
			<img src="assets/img/restaurant/25.jpg">
			</div>
			<div class="item-content">
			<h4>Hotel Stanford NYC</h4>
			<p>New York, 0.1 km to Empire State Building (City centre)</p>
		  
		  <div class="item item-body">
			<!-- <img class="full-image" src="assets/img/badu-live.png"> -->
			<p>
			  This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
			  the content is from a card-body consisting of an image and paragraph text. The footer
			  consists of tabs, icons aligned left, within the card-footer.
			</p>
			<p>
			  <a href="#" class="subdued">1 Like</a>
			  <a href="#" class="subdued">5 Comments</a>
			</p>
		  </div>
		  </div>
    </div>
	</div>
</div>
</div>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title><div class="copy-r">Copyright 2017 Ratings & Reviews | All rights reserved.</div></ion-title>
  </ion-toolbar>
</ion-footer>



